#   Files

tests_plots.ipynb
Plot_data_template.ipynb

*.html
*.pyc
*.png
*.eps

*.Rproj
.Rproj.user
.Rapp.history
.RData
.Rhistory

.gitattributes
.ipynb_checkpoints
.DS_Store

#---------------------------

#   Folders

Plots/PrevVersions/*
SNeIa/PrevVersions/*

Scratch/

*/.ipynb_checkpoints/*

#---------------------------


